tensorflow-cpu == 2.3.0
pyqt5~=5.15.9
pillow~=9.5.0
opencv-python~=4.7.0.72
matplotlib~=3.5.3
h5py~=2.10.0
numpy~=1.18.5
scipy~=1.4.1
requests~=2.30.0
flask~=2.2.2
flask_cors~=3.0.10
gevent~=22.10.2
werkzeug~=2.2.3
tqdm~=4.66.2